#networkContainer {
	width: 100%;
	height: 600px;
	border: 1px solid lightgray;
	position: relative;
}

#outputDiv {
	width: 100%;
	margin-top: 20px;
}

#outputDiv > div {
	margin: auto;
	width: 300px;
}

#tutorialButton {
	width: 140px;
	font-size: 13px;
	margin-right: 10px;
/*	position: relative;
	left: 45%;*/
}

#submitButton {
	width: 140px;
	font-size: 13px;
/*	position: relative;
	left: 45%;*/
}
