#networkContainer {
	width: 100%;
	height: 600px;
	border: 1px solid lightgray;
}

#outputDiv {
	width: 100%;
	margin-top: 20px;
}

#submitButton {
	width: 140px;
	font-size: 13px;
	position: relative;
	left: 45%;
}
