

.introJsTooltipSmall{
    font-size:  15px;
    max-width: 300px;
    min-width: 300px;
}

.introJsTooltip{
    font-size:  15px;
    max-width: 500px;
    min-width: 500px;
}

.introJsTooltipLarge{
    font-size:  22px;
    max-width: 700px;
    min-width: 700px;
}

.introJsTooltipExtraLarge{
    font-size:  22px;
    max-width: 900px;
    min-width: 900px;
}